body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: 15px; /*espaciado entre cajas*/

    grid-template-columns: repeat(autofit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
   
    grid-auto-rows: minmax(150px, 1fr);
    grid-auto-columns: minmax(150px, 1fr);

    grid-auto-flow: column dense; /*hace que se coloquen los cuadraditos y las columnas condensados¿???? si pongo row el scroll va hacia abajo si pongo column va de lado. HAY QUE PONER EL DENSE PARA RELLLENAR EL ESPACIO*/

  /* o por COLUMNAS:
    grid-auto-columns: repeat(autofit, minmax(150px, 1fr));
    grid-auto-flow: column dense;
 */
 overflow-y: hidden;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border: 1px solid rgb(184, 155, 121);
    border-radius: 5px;
}

/*caDA X NUMERO CAMBIAR DE COLOR*/

div:nth-child(3n) {/*cada 3 div:*/
    background-color: rgb(173, 102, 20);
    grid-column-end: span 2;
}

div:nth-child(8n){/*cada 8 cambia de color:*/
    background-color: rgb(192, 110, 43);
    grid-row-end: span 2;
} 
div:nth-child(14n){/*cada 8 cambia de color:*/
    background-color: rgb(98, 49, 9);
    grid-column-end: span 2;
    grid-row-end: span 2;
} 
